[submodule "SideA/vendor/glm"]
	path = SideA/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "SideA/vendor/ImGui"]
	path = SideA/vendor/ImGui
	url = https://github.com/kyenel64/imgui
	branch = docking
[submodule "SideA/vendor/GLFW"]
	path = SideA/vendor/GLFW
	url = https://github.com/kyenel64/glfw
	branch = master
[submodule "SideA/vendor/spdlog"]
	path = SideA/vendor/spdlog
	url = https://github.com/kyenel64/spdlog
	branch = v1.x
[submodule "SideA/vendor/yaml-cpp"]
	path = SideA/vendor/yaml-cpp
	url = https://github.com/kyenel64/yaml-cpp
[submodule "SideA/vendor/ImGuizmo"]
	path = SideA/vendor/ImGuizmo
	url = https://github.com/kyenel64/imguizmo
