[submodule "Tiel/vendor/spdlog"]
	path = Tiel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tiel/vendor/GLFW"]
	path = Tiel/vendor/GLFW
	url = https://github.com/kyenel64/GLFW
[submodule "Tiel/vendor/glm"]
	path = Tiel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Tiel/vendor/ImGui"]
	path = Tiel/vendor/ImGui
	url = https://github.com/kyenel64/ImGui
