[submodule "Locus/vendor/glm"]
	path = Locus/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Locus/vendor/ImGui"]
	path = Locus/vendor/ImGui
	url = https://github.com/kyenel64/imgui
	branch = docking
[submodule "Locus/vendor/GLFW"]
	path = Locus/vendor/GLFW
	url = https://github.com/kyenel64/glfw
[submodule "Locus/vendor/spdlog"]
	path = Locus/vendor/spdlog
	url = https://github.com/kyenel64/spdlog
	branch = v1.x
[submodule "Locus/vendor/yaml-cpp"]
	path = Locus/vendor/yaml-cpp
	url = https://github.com/kyenel64/yaml-cpp
[submodule "Locus/vendor/ImGuizmo"]
	path = Locus/vendor/ImGuizmo
	url = https://github.com/kyenel64/imguizmo
